.subheader {
  text-align: center;
  max-width: 34rem;
  margin: 0 auto;
}

.subheader img {
  margin-top: 2rem;
}


.title {
  font-weight: 600;
  margin-top: 0rem;
}

.description {
  margin: 1rem;
}
