.header {
  background-color: #daddaa;
  padding: 8rem 16rem;
}

.headerLogo {
  max-width: 6.25rem;
}

.headerText {
  font-size: 4rem;
  font-weight: bold;
  padding: 4rem 0;
}

.subheader {
  text-align: center;
  max-width: 32rem;
  margin: 0 auto;
}

.subheader img {
  margin: 2rem 1rem 1rem;
}

.subheader div {
  margin: 1rem;
}
