.headerWrapper {
  background-color: #daddaa;
}

.header {
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.headerLogo {
  max-width: 6.25rem;
}

.headerText {
  font-size: 4rem;
  font-weight: bold;
  padding: 4rem 0;
}
