.headerWrapper {
  background-color: #daddaa;
  background-image: url('/leadform.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.header {
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.headerLogo {
  max-width: 6.25rem;
}

.headerText {
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem 0;
  line-height: 4.5rem;
}
